@use "./variables" as *;

// Define mixins and variables
@mixin typography($size, $line-height, $weight) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
}

// Base styles for mobile
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Avenir Next';
    overflow-x: hidden; // Prevents horizontal overflow
}

li, ui {
  list-style-type: none;
}

.logo {
    padding: $margin-mobile;
    max-height: 20px;
    max-width: 120px;
    background-color: $bandsite-black;
    color: $white;
    @include typography(24px, 18px, $font-weight-regular);
    
    // Tablet and Desktop Styles
    @media (min-width: $tablet) {
        // Adjust logo styles for tablet and desktop here if needed
    }
}

.navbar {
    width: 100vw;
    background-color: $bandsite-black;
    display: flex;
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid $mercury;

    .navbar__heading, .navbar__links {
        padding: $margin-mobile;
        display: flex;
        color: white;
    }

    .navbar__links {
        justify-content: space-around;
        width: 100%;
    }
    
    &__link {
        color: $mercury;
        text-decoration: none;
        font-weight: normal;
        &:hover, &--active {
            color: $white;
            font-weight: bold;
            border-bottom: 2px solid $white;
        }
    }
    
    // Tablet and Desktop Styles
    @media (min-width: $tablet) {
        // Adjust navbar styles for tablet and desktop here
        flex-direction: row; // Example adjustment, might not be needed if already row
    }
}

.grid-container {
    display: grid;
    grid-gap: $margin-mobile;
    
    // Tablet and Desktop Styles
    @media (min-width: $tablet) {
        grid-gap: $margin-desktop;
    }
}

.page-header {
    @include typography(24px, 32px, $font-weight-bold);
    
    .hero {
        background: url("../assets/images/hero-bio.jpg") no-repeat center center, rgba($bandsite-black, 0.5);
        background-size: cover;
        background-blend-mode: multiply;
        position: relative;
        color: $white;
        width: 100%;
        padding: $margin-mobile;
        display: flex;
        flex-direction: column;
        justify-content: center;
        aspect-ratio: 16/9;
        
        // Tablet and Desktop Styles
        @media (min-width: $tablet) {
          @include typography(60px, 68px, $font-weight-bold);

            aspect-ratio: 16/9; // Adjust if necessary
            padding: $margin-desktop; // Adjust padding for larger screens
        }
    }
}

.band-images {
    display: grid;
    grid-template-columns: 1fr; // Single column for mobile
    row-gap: $margin-mobile;
    
    // Tablet and Desktop Styles
    @media (min-width: $tablet) {
        grid-template-columns: repeat(3, 1fr); // Three columns for tablet and desktop
        row-gap: $gutter-desktop;
    }
}

.footer-copy {
    @include typography(10px, 20px, $font-weight-regular);
    background-color: $bandsite-black;
    color: $white;
    padding-left: $margin-mobile;
    
    &__icons {
        display: grid;
        grid-template-columns: repeat(3, 32px);
    }
    
    // Tablet and Desktop Styles
    @media (min-width: $tablet) {
        @include typography(14px, 20px, $font-weight-regular);
        // Additional desktop adjustments here if necessary
        padding-left: $margin-desktop;
    }
}
