@charset "UTF-8";
@font-face {
  font-family: "Avenir Next";
  src: url("../3.0 - Assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../3.0 - Assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../3.0 - Assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Avenir Next";
  overflow-x: hidden;
}

.logo {
  padding: 16px;
  max-height: 20px;
  max-width: 120px;
  background-color: #323232;
  font-size: 24px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.navbar {
  width: 100vw;
  background-color: #323232;
  margin-left: -63px;
  display: flex;
  margin-bottom: 0px;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid #e1e1e1; /* Inactive link color for the underline */
}
.navbar .navbar__heading,
.navbar .navbar__links {
  padding: 16px;
  display: flex;
  color: white;
}
.navbar .navbar__links {
  justify-content: space-around;
  width: 100%;
}
.navbar__link {
  color: #e1e1e1;
  text-decoration: none;
  font-weight: normal;
}
.navbar__link:hover, .navbar__link--active {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 2px solid #ffffff; /* Active and hover link color for the underline */
}

.grid-container {
  margin-left: 63px;
  margin-right: 63px;
  display: grid;
  grid-gap: 63px;
}

.page-header .hero {
  background: url("../3.0 - Assets/Images/hero-bio.jpg"), rgba(50, 50, 50, 0.5);
  position: relative;
  color: white;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  -o-object-fit: fill;
     object-fit: fill;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 16/9;
}

.band-images {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 24px;
}

.band-image, .band-images__image {
  width: calc(100% - 16px);
  -o-object-fit: fill;
     object-fit: fill;
}

.subheader p {
  quotes: "“" "”" "‘" "’";
}

.footer-copy {
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  background-color: #323232;
  color: #ffffff;
  margin-left: -63px;
  padding-left: 63px;
}
.footer-copy__icons {
  display: grid;
  grid-template-columns: 32px 32px 32px;
}

@media (max-width: 768px) {
  .band-images {
    row-gap: 16px;
    grid-template-columns: 1fr;
  }
  .hero {
    background: url("../3.0 - Assets/Images/hero-bio.jpg"), rgba(50, 50, 50, 0.5);
    position: relative;
    color: white;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    margin-left: -16px;
    margin-right: -16px;
    -o-object-fit: fill;
       object-fit: fill;
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 16/9;
  }
  .navbar {
    margin-left: -16px;
    margin-right: -16px;
    flex-direction: row;
    flex-direction: column;
  }
  .navbar .navbar__links {
    flex-direction: row;
    justify-content: space-around;
  }
  .grid-container {
    margin-left: 16px;
    margin-right: 16px;
    display: grid;
    grid-gap: 16px;
  }
  .page-header {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  .section-header {
    margin-top: 8px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
  .subheader,
  .body-copy {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
  .footer-copy {
    font-size: 10px;
    line-height: 20px;
    font-weight: 400;
    background-color: #323232;
    color: #ffffff;
    margin-left: -16px;
    padding-left: 16px;
  }
  .footer-copy__icons {
    display: grid;
    grid-template-columns: 32px 32px 32px;
  }
  label,
  button {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }
  .page-header {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
  .section-header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .subheader {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  .body-copy {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  .footer-copy {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  label,
  button {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}/*# sourceMappingURL=bio.css.map */