

@use "./partials/variables" as *;
@use "./partials/global" as *;
// Mixin for typography

  .comment__heading {
    margin: $margin-mobile;
  }
  //Sprint 2 styling with mobile-first approach
  .comment {

    margin: $margin-mobile;
    width: auto;
    
    
    
    &__line {
      display: flex;
      align-items: flex-start;
      width: 100%;

      div {
        
        width: 100%;
        input {
          width: calc(100% - .5rem);
          border-radius: .2rem;
        }
      }
    }
    &__thumbnail {
      margin-right: 1rem;
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      border-radius: 90%;
      background-color: $mercury;
  }

  &__form {
    display: flex;
    columns: 1;
    flex-direction: column;
    width: 100%;

  }


  &__name-date-wrapper {
    
    
    display: flex;
    justify-content: space-between;
    textarea {
      width: 100%;
      
      border-radius: .2rem;
    }
    
  
  }
&__comment-wrapper {
  margin-left: 4rem;
  width: calc(100% - 4.5rem);

  textarea {
    width: 100%;
    
    border-radius: .2rem;
  }


}
&__submit {
  background-color: $bandsite-black;
  padding: 1rem;
  margin-left: 4rem;
  width: calc(100% - 4rem);
  color: $white;
  font-weight: 700;
  border-radius: .2rem;
}
&__date {
  color: $mercury;
}
}

.comments__list {
  list-style-type: none;
  
}



.comment__input--first {
    margin-top: 0; /* Adjust if necessary to align better with thumbnail */
}

