@font-face {
  font-family: "Avenir Next";
  src: url("../assets/font/avenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/font/avenirNextLTPro-Demi.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/font/avenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Avenir Next";
  overflow-x: hidden;
}

li, ui {
  list-style-type: none;
}

.logo {
  padding: 16px;
  max-height: 20px;
  max-width: 120px;
  background-color: #323232;
  color: #ffffff;
  font-size: 24px;
  line-height: 18px;
  font-weight: 400;
}
.navbar {
  width: 100vw;
  background-color: #323232;
  display: flex;
  margin-bottom: 0;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid #e1e1e1;
}
.navbar .navbar__heading, .navbar .navbar__links {
  padding: 16px;
  display: flex;
  color: white;
}
.navbar .navbar__links {
  justify-content: space-around;
  width: 100%;
}
.navbar__link {
  color: #e1e1e1;
  text-decoration: none;
  font-weight: normal;
}
.navbar__link:hover, .navbar__link--active {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
  }
}

.grid-container {
  display: grid;
  grid-gap: 16px;
}
@media (min-width: 768px) {
  .grid-container {
    grid-gap: 63px;
  }
}

.page-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.page-header .hero {
  background: url("../assets/images/hero-bio.jpg") no-repeat center center, rgba(50, 50, 50, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
  color: #ffffff;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 16/9;
}
@media (min-width: 768px) {
  .page-header .hero {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    aspect-ratio: 16/9;
    padding: 63px;
  }
}

.band-images {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}
@media (min-width: 768px) {
  .band-images {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
  }
}

.footer-copy {
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  background-color: #323232;
  color: #ffffff;
  padding-left: 16px;
}
.footer-copy__icons {
  display: grid;
  grid-template-columns: repeat(3, 32px);
}
@media (min-width: 768px) {
  .footer-copy {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 63px;
  }
}

.section-header {
  /*     Subheader
      Text size: 14px | Line height: 22px | Text weight: Regular 400
      Body Copy
      Text size: 14px | Line height: 20px | Text weight: Regular 400
      Footer Copy
      Text size: 12px | Line height: 20px | Text weight: Bold 700
   */
}
@media (min-width: 768px) {
  .section-header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
  }
}

.comment__heading {
  margin: 16px;
}

.comment {
  margin: 16px;
  width: auto;
}
.comment__line {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.comment__line div {
  width: 100%;
}
.comment__line div input {
  width: calc(100% - 0.5rem);
  border-radius: 0.2rem;
}
.comment__thumbnail {
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 90%;
  background-color: #e1e1e1;
}
.comment__form {
  display: flex;
  -moz-columns: 1;
       columns: 1;
  flex-direction: column;
  width: 100%;
}
.comment__name-date-wrapper {
  display: flex;
  justify-content: space-between;
}
.comment__name-date-wrapper textarea {
  width: 100%;
  border-radius: 0.2rem;
}
.comment__comment-wrapper {
  margin-left: 4rem;
  width: calc(100% - 4.5rem);
}
.comment__comment-wrapper textarea {
  width: 100%;
  border-radius: 0.2rem;
}
.comment__submit {
  background-color: #323232;
  padding: 1rem;
  margin-left: 4rem;
  width: calc(100% - 4rem);
  color: #ffffff;
  font-weight: 700;
  border-radius: 0.2rem;
}
.comment__date {
  color: #e1e1e1;
}

.comments__list {
  list-style-type: none;
}

.comment__input--first {
  margin-top: 0;
}

.hero {
  background: url("../../assets/images/hero-bio.jpg") no-repeat center center, rgba(50, 50, 50, 0.5);
}/*# sourceMappingURL=bio.css.map */